---
- name: Setup Kubernetes control node
  hosts: all
  become: yes
  tasks:
    - name: Initialize Kubernetes cluster
      shell: kubeadm init --pod-network-cidr=10.244.0.0/16 --apiserver-advertise-address=192.168.56.100
      args:
        creates: /etc/kubernetes/admin.conf

    - name: Create .kube directory
      file:
        path: /home/vagrant/.kube
        state: directory
        owner: vagrant
        group: vagrant

    - name: Copy admin.conf to vagrant user
      copy:
        src: /etc/kubernetes/admin.conf
        dest: /home/vagrant/.kube/config
        remote_src: yes
        owner: vagrant
        group: vagrant

    - name: Install Flannel CNI
      become_user: vagrant
      shell: kubectl apply -f https://raw.githubusercontent.com/flannel-io/flannel/master/Documentation/kube-flannel.yml
      args:
        creates: /home/vagrant/.kube/flannel-installed

    - name: Mark Flannel as installed
      file:
        path: /home/vagrant/.kube/flannel-installed
        state: touch
        owner: vagrant
        group: vagrant

    - name: Generate join command
      shell: kubeadm token create --print-join-command
      register: join_command

    - name: Save join command
      copy:
        content: "{{ join_command.stdout }}"
        dest: /vagrant/join-command.sh
        mode: '0755'
