---
- name: Setup Kubernetes control node
  hosts: all
  become: yes
  tasks:
    - name: Check if cluster is already initialized
      stat:
        path: /etc/kubernetes/admin.conf
      register: k8s_admin_conf

    - name: Initialize Kubernetes cluster
      command: >
        kubeadm init
        --apiserver-advertise-address=192.168.56.100
        --pod-network-cidr=10.244.0.0/16
        --node-name ctrl
      when: not k8s_admin_conf.stat.exists

    - name: Create .kube directory
      file:
        path: /home/vagrant/.kube
        state: directory
        owner: vagrant
        group: vagrant
        mode: '0755'

    - name: Copy admin.conf to vagrant's kube config
      copy:
        src: /etc/kubernetes/admin.conf
        dest: /home/vagrant/.kube/config
        remote_src: yes
        owner: vagrant
        group: vagrant
        mode: '0600'

    - name: Copy admin.conf to shared folder for host usage
      copy:
        src: /etc/kubernetes/admin.conf
        dest: /vagrant/admin.conf
        remote_src: yes
        mode: '0644'

    - name: Copy kube-flannel manifest into controller
      copy:
        src: /vagrant/k8s/kube-flannel.yml
        dest: /home/vagrant/kube-flannel.yml
        owner: vagrant
        group: vagrant
        mode: '0644'

    - name: Install Flannel CNI
      become_user: vagrant
      environment:
        KUBECONFIG: /home/vagrant/.kube/config
      command: kubectl apply -f /home/vagrant/kube-flannel.yml
      args:
        creates: /home/vagrant/.kube/flannel-installed

    - name: Mark Flannel as installed
      file:
        path: /home/vagrant/.kube/flannel-installed
        state: touch
        owner: vagrant
        group: vagrant

    - name: Generate join command
      shell: kubeadm token create --print-join-command
      register: join_command

    - name: Install Helm via installation script
      block:
        - name: Download Helm installer
          get_url:
            url: https://github.com/helm/helm/raw/5ae85868d45ca7bb9ac3ef7a10e0db54b8a8695c/scripts/get-helm-4
            dest: /tmp/get-helm.sh
            mode: '0744'            

        - name: Execute Helm installer
          shell: /tmp/get-helm.sh
        
        - name: Remove Helm installer
          file:
            path: /tmp/get-helm.sh
            state: absent

    - name: Install Helm-Diff
      shell: "helm plugin install https://github.com/databus23/helm-diff --version=3.14.1 --verify=false"
      args:
        creates: ~/.local/share/helm/plugins/helm-diff/README.md

    - name: Save join command
      copy:
        content: "{{ join_command.stdout }}"
        dest: /vagrant/join-command.sh
        mode: '0755'