---
- name: Setup Kubernetes worker node
  hosts: all
  become: yes
  tasks:
    - name: Wait for join command
      wait_for:
        path: /vagrant/join-command.sh
        timeout: 300

    - name: Join Kubernetes cluster
      shell: /vagrant/join-command.sh
      args:
        creates: /etc/kubernetes/kubelet.conf
