---
- name: Setup Kubernetes worker node
  hosts: all
  become: yes
  tasks:
    - name: Install containerd
      apt:
        name: containerd
        state: present

    - name: Create containerd config directory
      file:
        path: /etc/containerd
        state: directory

    - name: Generate default containerd config
      shell: containerd config default > /etc/containerd/config.toml
      args:
        creates: /etc/containerd/config.toml

    - name: Set SystemdCgroup in containerd config
      lineinfile:
        path: /etc/containerd/config.toml
        regexp: '^\s*SystemdCgroup\s*='
        line: '            SystemdCgroup = true'

    - name: Restart containerd
      systemd:
        name: containerd
        state: restarted
        enabled: yes

    - name: Install Kubernetes packages
      apt:
        name:
          - kubelet
          - kubeadm
        state: present

    - name: Hold Kubernetes packages
      dpkg_selections:
        name: "{{ item }}"
        selection: hold
      loop:
        - kubelet
        - kubeadm

    - name: Wait for join command
      wait_for:
        path: /vagrant/join-command.sh
        timeout: 300

    - name: Join Kubernetes cluster
      shell: /vagrant/join-command.sh
      args:
        creates: /etc/kubernetes/kubelet.conf
